/********* Colors **********/

/* 
#e66465 - Light red
#616ce8 - Pruple Blue
#28afa6 - Turquoise
#ffffff - White
#d7d7d1 - Gray 

*/




*{
    font-family: Arial, Helvetica, sans-serif;
}


/* Gradient text for modern browsers  */
h1{
    background-image: linear-gradient(#e66465, #616ce8);
    background-clip: text;
    color: transparent;
    font-size: 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



h1, h3{
    font-family: Geneva, Tahoma, sans-serif;
} 
.header-color{
    color: #ffffff;

}


/****** link stules *******/
a{
    text-decoration: none;
    color:#28afa6;
}


/***** Background styles ******/
body{
    background-color: #d7d7d1;
}

header{
    background-image:url("https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwcGFub3JhbWF8ZW58MHx8MHx8&w=1000&q=80");
    background-size: cover;
    padding: 10px;
}

/* article{
    background: linear-gradient(#ffffff, #d7d7d1);
} */

/*********** Image Syles ***********/

img{
    display: block;
    height:20%;
    border: solid #28afa6 2px;
}

.subheading{
    border-bottom: solid #000000 3px;
}
img, header {
    border-radius: 10px;
}
